
*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background: #eee;
}

div {
    position: relative;
    background: #f8f8f8;
    width: 90%;
    padding: 1em;
    margin: 10px auto;
    border: 3px solid rgba(0, 0, 0, 0.08);
}

h1:before,
h1:after {
    background-color: #c50000;
}

.eleven h1 {
    font-size: 30px;
    text-align: center;
    line-height: 1.5em;
    padding-bottom: 25x;
    font-family: "Playfair Display", serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #111;
}


.eleven h1:before {
    position: absolute;
    left: 0;
    bottom: 20px;
    width: 60%;
    left: 50%;
    margin-left: -30%;
    height: 1px;
    content: "";
    background-color: #777;
    z-index: 4;
}

.eleven h1:after {
    position: absolute;
    width: 40px;
    height: 40px;
    left: 50%;
    margin-left: -20px;
    bottom: 0px;
    content: '\00a7';
    font-size: 30px;
    line-height: 40px;
    color: #c50000;
    font-weight: 400;
    z-index: 5;
    display: block;
    background-color: white;
}